.step {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    height: 0;
    overflow: hidden;
}

.step.visible {
    opacity: 1;
    height: auto;
}

.matrix {
    display: flex;
    flex-direction: column;
}

.matrix-row {
    display: flex;
}

.matrix-cell {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #ffcccc; /* Light red */
}

.matrix-cell.path {
    background-color: #ff4444; /* Darker red */
}

.breadcrumb {
    color: white;
}
  
.breadcrumb li a {
    color: #F78F26;
}

.breadcrumb {
    --bs-breadcrumb-divider-color: white !important
}