

.video-player {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  max-width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

button {
  margin-right: 10px;
}

.timeline {
  position: relative;
  width: 600px;
  height: 10px;
  background-color: #ccc;
  cursor: pointer;
}

.timeline-progress {
  position: absolute;
  height: 100%;
  background-color: #98C3B6;
}

.bookmark {
  position: absolute;
  width: 5px;
  height: 10px;
  background-color: #F78F26;
  cursor: pointer;
}

.time {
  margin-left: 10px;
  width: 100px;
}

.tooltip {
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  transform: translate(-50%, -120%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.bookmark:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.modal {
  display: block !important;
  position: relative !important;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
  background-color: #2D3047;
  padding: 20px;
  /* border: 1px solid #888; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  border-radius: 15px;    
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0 !important;
}

.modal-body {
  margin: 10px 0;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  border-top: 0 !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.btn {
color: #EAF2EF !important;
}

.btn-primary {
background-color: #F78F26 !important;
border: #F78F26 !important;
}

.btn-custom1 {
background-color: #EAF2EF !important;
border: #EAF2EF !important;
}

.btn-group {
display: flex;
gap: 10px; /* Add space between buttons */
margin-top: 10px; /* Add some margin on top */
}

.closest-frames {
  margin: 20px 0;
}

.frame-list {
  display: flex;
  flex-wrap: wrap; /* Allows the frames to wrap to the next line if they exceed the container width */
  gap: 10px; /* Adds space between each frame item */
}

.frame-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookmarks-list {
margin-top: 10px;
}

.bookmark-item {
margin-bottom: 5px;
display: flex;
justify-content: space-between;
align-items: center;
}

.bookmark-item span {
margin-right: 10px;
}

.bookmark-item button {
margin-left: 5px;
}
